
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
main{
    width: 100%;
    height: 800px;
   background-color: black;
}
.navbar{
    width: 100%;
    height: 52px;
    background-color: #fff;
    border-top: 1px solid #F2F2F2;;
    border-bottom: 1px solid #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-body{
    display: flex;
 
    align-items: center;
    width: 64%;
    height: 100%;
    margin-right: 50px;
 


}

.navbar .navbar-item{
    width: 16%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid transparent;
    padding-left: 10px;
}
.navbar .navbar-item a{
font-size: 16px;
line-height: 19px;
text-decoration: none;
color: #2D2D2D;

}
.navbar .navbar-item:hover{
    border-bottom:  2px solid #F58634;
    cursor: pointer;
    
}

.navbar .navbar-item:hover .popup{
   display: flex;
    
}
.navbar .navbar-item:hover a{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
        color: #F58634;
}

.popup{
    width: 70%;
   
    position: absolute;
    top: 138px;
    left:16.4%;
    background: #FFFFFF;
border-radius: 0px 0px 4px 4px;
padding: 30px;
display: none;


}


.categories{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.photo{
    width: 25%;
    display: flex;
    height: 90px;
    height: 100%;
}


.categories-item{
    margin-left: 20px;
    height: 72px;
    width:40%;
    display: flex;
    margin-bottom: 30px;

}
.categories-item .categories-item-img {
    width: 22%;
    height: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
  

}
.categories-item-img img{
    width: 67px;
    height: 67px;
}


.categories-item .categories-item-text{
    width: 78%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.categories-item .categories-item-text .main-category{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 90px;
}

.categories-item .categories-item-text .main-category a{
 font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #F58634;

}
 
.categories-item .categories-item-text .sub-categories a{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
        color: #000000;
    
   }
    
   .categories-item .categories-item-text .sub-categories {
 
        margin-top: 5px;
   }
   
   .photo img{
       width: 100%;
    
   }




   /* Mobile ucun menu  */

   .mobile-menu{
       width: 80%;
       height: 100vh;
       box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
       transform: translateX(-100%);
       position: absolute;
bottom: 0;
left: 0;
transition: 0.3s all ease-in;
z-index: 999;
   }

   .mobile-menu .mobile-menu-body{
       display: flex;
       flex-direction: column;
       width: 100%;
       height: 90%;
 
    

   }


.menu-item-subcategories{
    width: 100%;
    height: 100vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
transform: translateX(-100%);
    position: absolute;
bottom: 0;
left: 0;
transition: 0.3s all ease-in;
z-index: 999999999;


}

.menu-item-subcategories .menu-item-subcategories-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    background-color: #fff;
z-index: 999999999;

}
   
   .mobile-menu .mobile-menu-body .signin-menu{
    width: 100%;
       height: 60px;
       display: flex;
       justify-content: space-between;
           align-items: center;
       background-color: #FDEEE2;
       padding: 0 20px 0 15px;
   }
     .mobile-menu .mobile-menu-body .signin-menu:hover{
    
       background-color: #FDEEE2;
     
   }
   .mobile-menu .mobile-menu-body .signin-menu .mobile-menu-left{
   
    stroke: #F58634;
    display: flex;
    height: 100%;
  
    align-items: center;

   }
   .sub-click{
       border: 1px solid black;
   } 
   
   
   .mobile-menu .mobile-menu-body .signin-menu .mobile-menu-left a{

    font-size: 16px;
    line-height: 19px;
    color: #F58634;
    text-decoration: none;
   }

   .mobile-menu .mobile-menu-body .signin-menu .mobile-menu-left svg{
  margin-right:10px;
   }   .mobile-menu .mobile-menu-body .signin-menu .mobile-menu-right{
   
    display: flex;
    height: 100%;
    align-items: center;
  
    
   }
   .mobile-menu .mobile-menu-body .signin-menu .mobile-menu-right:hover{
    cursor: pointer;
}

   .mobile-menu-item{
       height: 54px;
       width: 100%;
 
border-bottom: 1px solid #EDEDED;
padding: 0 0 0 15px;
color: #2D2D2D;
display: flex;
align-items: center;

justify-content: space-between;

   } 
   
   .mobile-menu-item #part-left{
       width: 60%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
} 
      
.mobile-menu-item #part-right{
    width: 40%;
display: flex;
justify-content: flex-end;
align-items: center;
height: 100%;
padding-right: 30px;
} 
.mobile-menu-item #part-right:hover{
  cursor: pointer;
} 
   
   .mobile-menu-item  a{
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #2D2D2D;

}

.sub-name{
    background-color: #fff !important;
    border-bottom: 1px solid #EDEDED;
    z-index: 999;
}

.sub-name  .mobile-menu-left-sub{
    z-index: 999999;
    height: 100%;
    display: flex;
    align-items: center;
}

.sub-name > .mobile-menu-left-sub span {
    font-size: 16px;
    line-height: 19px;
    color: #2D2D2D;
    margin-left: 20px;
}

.sub-name > .mobile-menu-left-sub svg {
    
    stroke: #2D2D2D;
    
}

.mobile-menu-link{
    height: 100%;
    display: flex;
    align-items: center;
}
.mobile-menu-link img{
 margin-right: 10px;
}








.account-zindex{
    z-index: 1;
}








.son a{
  
        height: 54px;
        width: 100%;
  
 border-bottom: 1px solid #EDEDED;
 padding-left: 15px ;
 color: #2D2D2D;
 display: flex;
 align-items: center;
  justify-content: flex-start;

 
    
}


.son a:hover{
  
    height: 54px;
    width: 100%;

border-bottom: 1px solid #EDEDED;;
padding-left: 15px ;
color: #2D2D2D;
display: flex;
align-items: center;
justify-content: flex-start;



}



.account-links-list{
    width: 100%;
    height: 100vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    position: absolute;
bottom: 0;
left: 0;
transition: 0.3s all ease-in;
z-index: 9999;
background-color: #fff;
}

.account-links-list .account-links-list-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;

 

}

.mobile-account-item{
    height: 54px;
    width: 100%;
border-bottom: 1px solid #EDEDED;
padding: 0 0 0 15px;
color: #2D2D2D;
display: flex;
align-items: center;
justify-content: flex-start;

} 

.mobile-account-user-name{

 height: 60px;
width: 100%;
border-bottom:none;
padding: 0 0 0 15px;
display: flex;
align-items: center;
justify-content: flex-start;
}

.mobile-account-item a{
font-weight: 300;
font-size: 20px;
line-height: 23px;
color: #2D2D2D;
text-decoration: none;
margin-left: 10px;

}